[Unit]
Description=elasticsearch
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=-/usr/bin/docker pull flecno/elasticsearch
ExecStart=/usr/bin/docker run --rm -name elasticsearch -p 9200:9200 -p 9300:9300 flecno/elasticsearch:1.4.0
ExecStop=/usr/bin/docker stop elasticsearch

[X-Fleet]
X-Conflicts=elasticsearch.service
