[Unit]
Description=kibana
After=docker.service
Requires=docker.service
#Requires=elasticsearch.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill kibana
ExecStartPre=-/usr/bin/docker rm kibana
ExecStartPre=-/usr/bin/docker pull flecno/kibana
ExecStart=/usr/bin/docker run --rm --name kibana -p 5601:5601 --link elasticsearch:elasticsearch flecno/kibana:latest
ExecStop=/usr/bin/docker stop kibana

[X-Fleet]
X-Conflicts=kibana.service
